/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

:root{
  --ff-primary: 'Open Sans', sans-serif;
  --clr-primary: #c62828;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;

}


ul {
  list-style-type: none;

}
a {
  text-decoration: none;
  font-size: 14px;
  font-family: var(--ff-primary);
}

/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}


/* Nav Bar*/

.nav-bar{
    background-color: var(--clr-primary);
}

.nav-header{
    display: flex;

    justify-content: space-between;
    padding: 1 rem;
}
.logo{
    height: 40px;
}
.links{
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.show-links{
  height:1.5rem;
}